name: CI
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go: [ '1.16', '1.15' ]
    name: Linux Go ${{ matrix.go }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
      - name: Install dependencies
        run: |
          sudo apt-get update -qq \
          && sudo apt-get install --no-install-recommends -y \
            libopus-dev \
            libva-dev \
            libvpx-dev \
            libx264-dev
      - name: Run Test Suite
        run: make test
      - uses: codecov/codecov-action@v2	
        if: matrix.go == '1.16'
  build-darwin:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        go: [ '1.16', '1.15' ]
    name: Darwin Go ${{ matrix.go }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
      - name: Install dependencies
        run: |
          brew install \
            pkg-config \
            opus \
            libvpx \
            x264
      - name: Run Test Suite
        run: make test
  check-licenses:
    runs-on: ubuntu-latest
    name: Check Licenses
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.16'
      - name: Installing go-licenses
        run: go get github.com/google/go-licenses
      - name: Checking licenses
        run: go-licenses check ./...
